---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import projectImage from '@assets/images/project.png';
import vomentor2 from '@assets/images/vomentor2.webp';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-purple lg:text-4xl">My Projects</h2>
	<span class="mb-10 h-1 w-10 bg-purple"></span>
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		<Card
			url="https://vomentor.vercel.app"
			title="Vomentor"
			alt="Landing Page of vomentor"
			tags={[]}
			img={vomentor2}
		/>

		{
			projects
				.filter((project) => project.data.title !== 'Vomentor')
				.map((project) => (
					<Card
						url={project.data.link}
						title={project.data.title}
						alt={project.data.img_alt}
						tags={project.data.tags}
						img={projectImage}
					/>
				))
		}
	</div>
	<a
		href="https://github.com/victoroab"
		target="_blank"
		rel="noopener"
		class="flex flex-row text-black hover:text-purple dark:text-white dark:hover:text-purple"
		aria-label="link to repository"
	>
		View my other projects
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</section>
